.launchesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}

.nextLaunch .launchItem {
  margin: 0 auto;
}

.launchItem {
  width: 560px;
  &-detail,
  &-articleLink {
    margin: 10px 0;
  }
}

.networkStatus {
  text-align: center;
}
